@import "normalize.css";

:root {
    --header-bg-color: #9DBDC6;
    --main-bg-color: #FFFFFF;
    --footer-bg-color: #FF3D2E;
    --aside-bg-color: #DAEAEF;
    --nav-bg-color: #272F32
}

* {
    box-sizing: border-box; /*TODO CHECK*/
}

body {
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}

.color-square {
    height: 3em;
    width: 3em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.bg-header {
    background-color: var(--header-bg-color);
}

.bg-aside {
    background-color: var(--aside-bg-color);
}
.bg-main {
    background-color: var(--main-bg-color);
}

.bg-footer {
    background-color: var(--footer-bg-color);
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
